doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Curros Angel | Resume

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none.navbar-icon 
                    img.img-fluid.img-profile.rounded-circle.mx-auto(src="assets/img/profile.jpg", alt="")
                    | Resume
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Curros 
                        span.text-primary Angel
                    .subheading.mb-5
                        | Madrid-Spain · 
                        a(href='mailto:angelcurros@gmail.com') angelcurros@gmail.com
                    .lead.mb-5
                        p
                            | I'm a hands-on, highly competent software developer with more than 10 years of experience designing, programming, testing and deploying software across a variety of platforms. I have worked on numerous projects from concept to completion, I'm also used to being in charge of maintenance for various projects at the same time.
                        p 
                            | As specialist in C# I take pride in always trying to code consistently in high standards and regularly refresh my skills to ensure I keep up with ongoing developments.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/angelcurros', target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/Curros', target="_blank")
                            i.fab.fa-github
                        a.social-icon(href='mailto:angelcurros@gmail.com')
                            i.fas.fa-envelope

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0  FullStack Developer / Analyst
                            .subheading.mb-3 
                                a(href="https://www.optimissa.com/") Optimissa
                                | - 
                                a(href="#!") Alten 
                            p
                                | Our client in this project is an important bank with a very complicated and secure infrastructure, this is giving me the opportunity to work, design and configure strong/secure environment with several authentication protocols redundant servers and complex backups to ensure the 24h availability of more than 300 apps used in several countries by different teams.
                            p 
                                | The client present infrastructure departments all arround the world so the communication between teams is crucial in order to fulfill the work.
                            span.badge.bg-primary .NET Core
                            span.badge.bg-primary ASP .NET
                            span.badge.bg-primary Entity Framework
                            span.badge.bg-primary MS SQL
                            span.badge.bg-primary AVI / F5
                            span.badge.bg-primary IIS
                            span.badge.bg-primary Certificates
                            span.badge.bg-primary Apache / Tomcat
                            span.badge.bg-primary Oracle
                        .flex-shrink-0
                            span.text-primary.fw-bold June 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Program Analyst .Net
                            .subheading.mb-3 
                                a(href="https://www.sotec-consulting.com/") SOTEC Consulting
                            p
                                | Appart for the common forms, validations and business logict the application for this client need to calculate and show in a real time generated map drawing fields, lands, houses, apparment, etc... this was a really fun proyect with a lot of rewarding milestones doing some really complicated GIS (Geographic Information System) calculations.
                            span.badge.bg-primary .NET
                            span.badge.bg-primary Winforms
                            span.badge.bg-primary Visual
                            span.badge.bg-primary Oracle
                            span.badge.bg-primary RESTful Web Services
                            span.badge.bg-primary SOAP Web Services
                        .flex-shrink-0
                            span.text-primary.fw-bold October 2016 - June 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Admin and Developer
                            .subheading.mb-3 
                                a(href="http://www.drjavieramaro.com/") Dr Javier Amaro Clinica Dental
                            p
                                | When the clinic was just an idea I was involve in the develop of the brand, logo and image, the creation of the website from start to end filtering and recommending the relevant data that should be displayed, the completion of the website was accomplished in a real record, but thanks to a great communication with the owners we end with a really nice product, responsive a really ahead for his time.
                            span.badge.bg-primary PHP
                            span.badge.bg-primary WordPress
                            span.badge.bg-primary MySQL
                            span.badge.bg-primary Bootstrap
                            span.badge.bg-primary JQuery
                        .flex-shrink-0
                            span.text-primary.fw-bold April 2014 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Computer Analyst and Software Developer
                            .subheading.mb-3 
                                a(href="https://www.entelgy.com/") Entelgy
                            p
                                | Working for a big insurance company one of our goals was to create creative and eye-catching applications but as all big company we had to find a way to keep a good UI betwing really old applications and the new ones working seamlessly between them and keeping the user engage. 
                            span.badge.bg-primary ASP .NET
                            span.badge.bg-primary Entity Framework
                            span.badge.bg-primary MS SQL
                            span.badge.bg-primary Bootstrap
                            span.badge.bg-primary JQuery
                            span.badge.bg-primary SOAP Web Services
                        .flex-shrink-0
                            span.text-primary.fw-bold November 2015 - October 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Software Developer
                            .subheading.mb-3 
                                a(href="https://www.ayesa.com/") Ayesa
                            p
                                | Working for a big insurance company one of our goals was to create creative and eye-catching applications but as all big company we had to find a way to keep a good UI betwing really old applications and the new ones working seamlessly between them and keeping the user engage. 
                            span.badge.bg-primary ASP Classic
                            span.badge.bg-primary ASP .NET
                            span.badge.bg-primary MS SQL
                            span.badge.bg-primary Bootstrap
                            span.badge.bg-primary JQuery
                            span.badge.bg-primary SOAP Web Services
                        .flex-shrink-0
                            span.text-primary.fw-bold January 2014 - November 2015
            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 IES Cesar Manrique
                            .subheading.mb-3 FPS Desarrollo de Aplicaciones informaticas y de gestion
                            p Spain
                        .flex-shrink-0
                            span.text-primary.fw-bold 2010 - 2012

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Liceo Esteban Gil Borges High School
                            .subheading.mb-3 Bachelor of Science
                            p Venezuela
                        .flex-shrink-0
                            span.text-primary.fw-bold 2002

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-windows
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-node
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-atlassian
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | SOLID Development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | RESTFULL Applications
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')